.block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 8px 16px 16px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 15px;
}

.list {
  position: relative;
  padding: 0;
  margin: 0 0 8px 0;
  height: 55vh;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 24px;
  }

  & > *:not(:last-child) {
    margin-right: 4px;
  }
}

.newItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  & > *:not(:last-child) {
    margin-right: 4px;
  }
}

.buttonsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
