.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  min-height: 100vh;
  overflow-y: hidden;
  padding: 32px 16px;
  box-sizing: border-box;
}

.sidePannel {
  margin-left: 32px;
  width: 312px;
}

@media (max-width: 1000px) {
  .wrapper {
    flex-wrap: wrap;
    overflow-y: auto;
    height: auto;
  }

  .sidePannel {
    margin-top: 32px;
    margin-left: 0;
    width: min(100%, 600px);
  }
}
